section.topo-do-site{
    display:flex;
    padding: 40px 4%;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 90px;
    background-color: rgba(4, 4, 168, 0.836);
}

    section .container {
        width: 45%;
        height: 45%;
        clear: both;
        margin-top: 20px;
        display:grid;
        max-width: 500px;
        max-height:550px;
        gap:2.5px;
    }

